<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zcy.MybatisDemo.model.dao.ClazzMapper">
    <!--根据id查询班级信息，返回resultMap-->
    <select id="selectClazzById" parameterType="int" resultMap="clazzResultMap">
        SELECT * FROM  tb_clazz WHERE id=#{id}
    </select>
    <!--映射Clazz对象的resultMap-->
    <resultMap id="clazzResultMap"  type="com.zcy.MybatisDemo.beans.Clazz">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <!-- 一对多关联映射：collection fetchType="lazy" 表示懒加载-->
        <collection property="students" javaType="ArrayList" column="id"
                    ofType="com.zcy.MybatisDemo.beans.Student"
                    select="com.zcy.MybatisDemo.model.dao.StudentMapper.selectStudentByClazzId"
                    fetchType="lazy">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
            <result property="sex" column="sex"/>
            <result property="age" column="age"/>
        </collection>
    </resultMap>
</mapper>
